POSTGRES_DB=cxj_blog
POSTGRES_USER=cxj_blog
POSTGRES_PASSWORD=change-this-local-development-password
AUTH_EMAIL_ENABLED=false
AUTH_CODE_SECRET=
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
